
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Lista de Clientes Ativos</title>
</head>
<body>
    <div style="padding-left:50px; padding-right:50px">
        <h1 style="font-family:Courier New, Courier, monospace">Lista de Clientes Ativos</h1>
        <table class="table table-striped" style="font-family:Courier New, Courier, monospace">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>

            @foreach (var cli in Model)
            {
                <tr>
                    <td>@cli.clienteid</td>
                    <td>@cli.nome</td>
                    <td>@cli.email</td>
                    <td>@cli.rg</td>
                    <td>@cli.cpf</td>
                    <td>@cli.data_nascimento</td>
                    <td>@cli.endereco</td>
                    <td>@cli.cidade</td>
                    <td>@cli.estado</td>
                    <td>@cli.telefone</td>
                    <td>
                        <a href="/Cliente/Editar?id=@cli.clienteid">Editar</a>
                        <a href="#">Apagar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    </body>
</html>
